.git
.github
.vscode
.idea
.env
**/.env
**/*.log
**/node_modules
**/dist
**/build
**/target
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.venv
**/venv
backend/
db/
infra/
scripts/
notebooks/
references/
